
<h2>Dear MageNerator.net Admin,</h2>

<p>A user has registered!</p>

<table>

    <tr>
        <td>eMail</td>
        <td>{user.email}</td>
    </tr>

    <tr>
        <td>Namespace</td>
        <td>{user.namespace}</td>
    </tr>

    <tr>
        <td>Account Delete Date</td>
        <td>{user.humanendtime}</td>
    </tr>

    <tr>
        <td>Title</td>
        <td>{user.title}</td>
    </tr>

    <tr>
        <td>Firstname</td>
        <td>{user.firstName}</td>
    </tr>

    <tr>
        <td>Lastname</td>
        <td>{user.lastName}</td>
    </tr>

    <tr>
        <td>Company</td>
        <td>{user.company}</td>
    </tr>

    <tr>
        <td>Address</td>
        <td>{user.address}</td>
    </tr>

    <tr>
        <td>ZIP</td>
        <td>{user.zip}</td>
    </tr>

    <tr>
        <td>City</td>
        <td>{user.city}</td>
    </tr>

    <tr>
        <td>Country</td>
        <td>{user.country}</td>
    </tr>

</table>
